#customer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}
.customer-form{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.customer-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.customer-buttons > button{
    border: 0;
    color: white;
    font-weight: bold;
    padding:6px 10px;
}
.customer-buttons > button:active{
   background-color: black;
}
.cus-save-btn{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(57, 160, 250);
}
.cus-remove-btn{
    background-color: rgb(255, 70, 70);
}
.cus-update-btn{
    background-color: rgb(200, 200, 43);
}
.cus-get-all-btn{
    background-color: rgb(0, 193, 0);
}
.cus-clear-all-btn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(255, 70, 70);
}
#customer-section > .table-container{
    display: flex;
    flex-direction: column;
}
#customerTable > thead > tr > th{
    color: white;
    background-color: rgb(225, 65, 65); 
    padding: 10px;       
}
.validateError{
    color: rgb(188, 12, 12);
    font-size: 0.8rem;
}

@media screen and (max-width: 1000px)  {

    #customer-section {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
    }

    .customer-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .customer-buttons > button {
        flex-grow: 1;
        text-align: center;
    }

    #customerTable {
        display: block;
        overflow-x: auto;
    }
}
